<p>testing works!</p>

<!--http://localhost:4200/user-type-->

<a routerLink="/home">Home</a>
<a routerLink="/departments">Departments</a>
<a routerLink="/footer">Footer</a>
<a routerLink="/individual-department">Individual Department</a>
<a routerLink="/nav-bar">Nav-Bar</a>
<a routerLink="/order-confirmation">Order Confirmation</a>
<a routerLink="/payment-methods">Payment Methods</a>
<a routerLink="/check-out">Checkout</a>
<a routerLink="/category">Category</a>
<a routerLink="/account-settings">Account Settings</a>
<a routerLink="/cart-to-checkout">Cart to Checkout</a>
<a routerLink="/forgot-password">Forgot Password</a>
<a routerLink="/login">Login</a>
<a routerLink="/on-website-enter">Website Enter</a>
<a routerLink="/product-detail">Product Detail Modal</a>
<a routerLink="/sign-up">Sign Up</a>
<a routerLink="/update-payment-method">Update Payment Methods</a>
<a routerLink="/update-shipping-address">Update Shipping Address</a>
<a routerLink="/user-type">User Type</a>
<router-outlet></router-outlet>
