<app-nav-bar></app-nav-bar>
<div>
  <div>
    <h6>Refine By</h6>
    <h6>Brands</h6>
    <input type="checkbox" id="brand1" name="brand1" value="">
    <label for="brand1"> ABC</label><br>

    <input type="checkbox" id="brand2" name="brand2" value="">
    <label for="brand2"> XYZ</label><br>

    <input type="checkbox" id="brand3" name="brand3" value="">
    <label for="brand3"> EFG</label><br>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <p><a href="https://www.w3schools.com/">Departments/Produce</a></p>

    <section>
      <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h4 class="h3 mb-0 pt-3 mr-2">Fruits</h4>
        <div class="pt-3"><a href="shop-grid-ls.html">Sort by:<i class="ml-1 mr-n1"></i></a></div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button>
            <div class="">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>

            <a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <h3 class="product-title font-size-sm">Rs.250</h3>
              <a class="product-meta d-block font-size-xs pb-1" href="#">Country Chicken,</a>
              <a class="product-meta d-block font-size-xs pb-1" href="#">2 Kgs</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 px-2 mb-3">
          <div class="card product-card card-static pb-3">
            <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title=""
                    data-original-title="Add to wishlist">
              <i class="czi-heart"></i>
            </button><a class="card-img-top d-block overflow-hidden" href="grocery-single.html">
              <img src="https://cdn.sanity.io/images/0vv8moc6/contobgyn/b72d5bf4f6a84b6ca4af8f330f19b1ec7acb877e-3504x2336.jpg"
                   alt="Product">
            </a>
            <div class="card-body py-2">
              <a class="product-meta d-block font-size-xs pb-1" href="#">Fruits and Vegetables</a>
              <h3 class="product-title font-size-sm"><a href="grocery-single.html">Coconut, Indonesia (piece)</a></h3>
              <div class="product-price"><span class="text-accent">$2.<small>99</small></span></div>
            </div>
            <div class="product-floating-btn">
              <button class="btn btn-primary btn-shadow btn-sm" type="button" data-toggle="toast" data-target="#cart-toast">
                +<i class="czi-cart font-size-base ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<br />
<app-footer></app-footer>
