

<!-- Page Content-->
<!-- <main class="container-fluid">
  <section class="row justify-content-center">
    <div class="col-6 py-5">
      <div class="card p-5">
        <h2 class="h3 pb-3">OrganicCart</h2>
        <div class="form-group mb-5">
          <label for="zipcode">Zipcode</label>
          <input class="form-control" type="number" id="zipcode" placeholder="Zipcode" required="">
          <div class="invalid-feedback">Please provide a valid email address.</div>
        </div>

        <button class="btn btn-success btn-shadow">Continue</button>
      </div>
    </div>
  </section>
</main> -->

  <router-outlet></router-outlet>



